<html lang="en">
    <head>
        <title>{{dino.name}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://it122.herokuapp.com/public/styles.css">
    </head>
    <body>
        <h1>{{dino.name}}</h1>
        <ul>
            <li>Length: {{dino.length}}</li>
            <li>Weight: {{dino.weight}}</li>
            <li>Rating: {{dino.cool}}</li>
        </ul>
        <a href="https://it122.herokuapp.com">Home</a>
    </body>
</html>